extends layout

block content
  h1= title
  p Pallavi Pokuri 
  button(type="button", class="btn-btn-primary") I am a button <br>
  div#double Up the amount 
  button(type="button", class="btn-btn-primary", onClick="double()") Get power <br>
  script.
      let value = 0;
      let power = 1;
      function double() {
        value += 1;
        power *= 2;
        document.getElementById('double').innerText = `Two to the power ${value} is ${power}`;
      }
      
  a(href="/Icecream") Icecream